body{
    background: black;
    color: white;
    font: 1.3em Inconsolata, monospace;
    text-shadow: 0 0 0.5em #C8C8C8;
	white-space: pre;
}

table {
    text-align: left;
}

th {
    width: 50%;
    font: inherit;
}


form {
    display: inline;
    margin-right: 0;
    min-width: 1px;
}

input {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    text-shadow: inherit;
    margin-right: 0;
    caret-color: transparent;
}

#userInput::after {
    content: "";
    position: absolute;
    background-color: #606060;
    vertical-align: top;
    margin-left: 0;
    margin-top: .1rem;
    width: 10px;
    height: 1rem;
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

#userInput {
	display: inline;
}

button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: white;
    font: inherit;
    text-shadow: 0 0 5px #C8C8C8;
    text-decoration: underline;
    cursor: pointer;
}

a {
    color: white;
}

::selection {
    background-color: white;
    color: black;
    text-shadow: none;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}
