body {
	background-color: var(--nord0); 
	color: var(--nord4);
	text-align: center;
	font-family: "SourceCodePro", Monospace;
}

h2 {
	margin: 0;
	padding: 0;
}

.third {
	display: inline-block;
	width: 30%;
	margin: 1%
	float: center;
}

div.third img {
	max-width: 100%;
	height: auto;
}

@font-face {
	font-family: SourceCodePro;
	src: url('../fonts/source-code-pro/SourceCodePro-Regular.otf');
}

@media screen and (max-width: 1350px) {
	.third {
		display: block;
		width: 95%;
		margin: 2.5%;
	}
}
